%div#problem-table
	%table#problems
		%thead
			%tr
				%th#problem Problem
				%th#solution Solution
				%th#year Year
				%th#meet Meet
				%th#round Round
				%th#number Number
		%tbody
			!= render :partial=>'problem_row', :collection=>@problems
		%tfoot

:javascript
	$(document).ready(function() {
		$('#problems').dataTable( {
			"aaSorting": [[ 3, "desc"]],
			"bStateSave": true,
			"bJQueryUI": true,
			"bLengthChange": true,
			"aLengthMenu": [10,15,20],
			"iDisplayLength": 10,
			"sPaginationType": "full_numbers"
		} );
	});


